body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

i {
  font-size: 20px;
  margin-right: 7px;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

a {
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}
