@import url("./vendor/fonts.css");
@import url("./vendor/normalize.css");
@import url("./blocks/page.css");
@import url("./blocks/header.css");
@import url("./blocks/aboutMe.css");
@import url("./blocks/skills.css");
@import url("./blocks/projectCard.css");
@import url("./blocks/startup.css");
